:root {
    --color-dark: #353535;
    --color-white: #fff;
    --color-grey: #A8A2A2;
    --color-green: #2B4E50;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: var(--color-dark);
    color: var(--color-white);    
}

/* layout */
.container {
    width: 1140px;
    margin: 0 auto;
}

.page-section {
    margin-bottom: 130px;
}

/* title */
.section-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin: 0 0 50px;  /*отступ снизу*/
    color: var(--color-white);
}

/* flex */
.d-flex {
    display: flex;
}

.flex-sb {
    display: flex;
    justify-content: space-between
    ;
} 

/* clear */
ul {
    list-style-type: none;   
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

/* button */
.btn {
    border: 1px solid var(--color-grey);
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    color: var(--color-white);
    height: 45px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 2px;
}

.btn--primary {
    background-color: var(--color-green);
}

.btn--secondary {
    background-color: #A55816;
}

.btn--primary:hover {
    border: 1px solid var(--color-white);
}


/* INDEX.HTML */

/* header */
.page-header {
    height: 616px;
    color: var(--color-dark);
}

.page-header--index-banner {
    background-image: url(../images/main-banner.png);
}

.main-menu {
    padding: 10px;
}

.main-menu__item a {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 600;
    display: flex;
    align-items: center;
}

.main-menu__item a img {
    margin-right: 10px;
}

.page-header__main-content {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.page-header__main-content hr {
    width: 230px;
    color: var(--color-dark);
}

.page-header__title {
    margin: 0;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
}

.page-header__subtitle {
    font-size: 20px;
    line-height: 26px;
}

/* services */
.services__column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.service__item {
    position: relative;
    width: 520px;
    height: 175px;
    border: 1px solid var(--color-grey);
    padding-left: 35px;
}

.service__subtite {
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
}

.service__item p {
    width: 385px;
    font-size: 14px;
    line-height: 130%;
}


.service__item a {
    position: absolute;
    top: 140px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
}


/* events */
.events {
    background-color: var(--color-green);
    padding-top: 130px;
    padding-left: 70px;
}

.events__info {
    position: relative;
    left: 125px;
    bottom: 160px;
    width: 370px;
    height: 262px;
    background-color: var(--color-dark);
    border: 1px solid var(--color-grey);
    padding: 0 25px;
}

.events__data {
    color: var(--color-grey);
}

.events__main {
    font-size: 20px;
    line-height: 130%;
}

.events__btn {
    margin-top: 50px;
    width: 150px;
    padding-left: 32px;
}

.events__content {
    display: flex;
    column-gap: 25px;
}


/* ski-pass__content */
/* .ski-pass__content {
    margin-left: 75px;
} */

.ski-pass__content p {
    width: 410px;
    line-height: 130%;
}

.ski-pass__btn {
    width: 275px;
    margin-top: 20px;
    padding-left: 32px;
}

/* contact */
.contact__content {
    width: 560px;
    height: 467px;
    border: 1px solid var(--color-grey);
    padding: 25px;
}

.contact-form__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 40px;
}

.contact-form__item {
    width: 475px;
    height: 45px;
    background-color: #4B4949;
    margin-bottom: 20px;
    border: 1px solid var(--color-grey);  
    padding-left: 10px;
  }

  .contact-form__item:hover {
    border: 1px solid var(--color-white);  
  }

  .contact-form__item--mod-size {
    width: 227px;
    margin-right: 17px;
  }
  
 .contact-form__item--textarea {
    resize: none;
    height: 75px;
  }

  .contact-form__row-submit {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 473px;
    align-items: center;
  }
  
  .contact-form__terms {
    display: flex;
  }

  .checkbox__text {
    font-size: 12px;
    line-height: 130%;
    margin-left: 10px;
  }
    
.contact-form__btn {
    width: 227px;
    justify-content: center;
}

::placeholder {
    color: var(--color-white);
  }

/* page-footer */
.page-footer {
    background-color: var(--color-green);
}

.page-footer__main {
    padding-top: 30px;
    padding-bottom: 25px;
}

.page-footer__lk a {
    display: flex;
    align-items: center;
}

.page-footer__lk img {
    margin-left: 6px;
}

.page-footer hr {
    color: var(--color-white);
}

.page-footer_social {
    margin-left: 35px;
}

.page-footer__bottom {
    display: flex;
    padding-top: 50px;
    padding-bottom: 35px;
}

.social-list {
    display: flex;
    gap: 10px;
}

/* sidebar__items */
.test {
    position: relative;
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    width: 120px;
    height: 100vh;
}

.sidebar__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.sidebar__item a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 20px;
}

.sidebar__img {
    margin-bottom: 5px;
}


/* ABOUT.HTML */