/* общие свойства*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-dark);
    color: var(--color-white);    
}

/*main colors*/
:root {
    --color-dark: #353535;
    --color-white: #fff;
    --color-grey: #A8A2A2;
    --color-green: #2B4E50;
}

/* layout */
.container {
    width: 1140px;
    margin: 0 auto;    
}

.padding-left {
    padding-left: 30px;
}

.page-section {
    margin-bottom: 130px;
}

/* font-size for title */
.title {
    margin-top: -15px;
    margin-bottom: -5px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    height: 78;
    width: 234px;
    border-bottom: #353535 3px solid;
    text-align: center;
    margin-bottom: 3px;
}

.section-title {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    margin: 0 0 30px;  /*отступ снизу*/
}

.section-subtitle {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

/*font-size for text*/
.small-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

.medium-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}

.big-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
}

/* flex */
.flex {
    display: flex;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
}

.flex-ai-center {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-column-ai-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* clear */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;   
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

/* button */
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border: 1px solid var(--color-grey);  
    border-radius: 2px;
    color: var(--color-white);
    font-weight: 600;
    font-size: 14px;
}

.btn--primary {
    background-color: var(--color-green);
}

.btn--secondary {
    background-color: #A55816;
}

.btn--primary:hover {
    border: 1px solid var(--color-white);
}

.btn--secondary:hover {
    border: 1px solid var(--color-white);
}

/* sidebar */
.sidebar {
    position: fixed;
    width: 120px;
    height: 100vh;
    border-right: 1px solid var(--color-white);
    background-color: #353535;
}

.sidebar__item a {
    margin: 20px;
}

.sidebar__img {
    margin-bottom: 5px;
}

/* page-header */
.page-header {
    height: 616px;
    color: var(--color-dark);
}

.main-menu {
    padding: 10px;
}

.main-menu__item a {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 600;
}

.main-menu__item a img {
    margin-right: 10px;
}

.page-header__main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
}

.page-header__main-content hr {
    width: 230px;
    color: var(--color-dark);
}

/* page-footer */
.page-footer {
    background-color: var(--color-green);
}

.page-footer__main {
    padding-top: 30px;
    padding-bottom: 25px;
}

.page-footer__lk img {
    margin-left: 6px;
}

.page-footer hr {
    color: var(--color-white);
}

.page-footer_social {
    margin-left: 35px;
}

.page-footer__bottom {
    padding-top: 50px;
    padding-bottom: 35px;
}

.social-list {
    gap: 10px;
    align-items: center;
}


/* *** свойства для index.html *** */

/* header */
.page-header--index-banner {
    background-image: url(../images/banner-index.png);
}

/* services */
.services__banner { 
    width: 560px; 
    height: 786px; 
}

.services__column {
    gap: 30px;
}

.service__item {
    position: relative;
    width: 520px;
    height: 175px;
    padding-left: 35px;
    border: 1px solid var(--color-grey);
}



.service__item p {
    width: 385px;
}

.service__item a {
    position: absolute;
    top: 140px;
    gap: 10px;
}

.check:checked+::before {  
    content: '';    
    z-index: -1;  
    position: absolute;  
    top: 0; 
    left: 0; 
    width: 515px; 
    height: 169px;   
    border: 2px solid white;   
  }

.visually-hidden { 
    position: absolute; 
    clip: rect(0 0 0 0); 
}

/* events */
.events {
    background-color: var(--color-green);
    padding-top: 130px;
    padding-left: 70px;
}

.events__info {
    position: relative;
    left: 125px;
    bottom: 160px;
    width: 370px;
    height: 262px;
    padding: 0 25px;
    background-color: var(--color-dark);
    border: 1px solid var(--color-grey);
}

.events__data {
    color: var(--color-grey);
}

.events__btn {
    width: 150px;
    margin-top: 50px;
}

.events__content {
    column-gap: 25px;
}

/* ski-pass */
.ski-pass__content p {
    width: 410px;
}

.ski-pass__btn {
    width: 275px;
    margin-top: 20px;
}

/* feedback */
.feedback__content {
    width: 560px;
    height: 467px;
    padding: 25px;
    border: 1px solid var(--color-grey);
}

.feedback-form__title {
    margin-bottom: 40px;
}

.feedback-form__item {
    width: 475px;
    height: 45px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid var(--color-grey);
    color: var(--color-white);
    background-color: #4B4949;
}
.feedback-form__item::placeholder {
    color: var(--color-grey);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 14px;
}

.feedback-form__item:hover {
    border: 1px solid var(--color-white);  
}

.feedback-form__item--mod-size {
    width: 227px;
    margin-right: 17px;
}
  
.feedback-form__item--textarea {
    resize: none;
    height: 75px;
  }

.feedback-form__row-submit {
    width: 473px;
    height: 60px;
}
  
.checkbox__text {
    margin-left: 10px;
}
    
.feedback-form__btn {
    width: 227px;
    justify-content: center;
}

::placeholder {
    color: var(--color-white);
    font-size: 14px;
  }


/* *** свойства для about.html *** */

.page-header--about-banner {
    background-image: url(../images/banner-about.png);
}

.about__item {
    gap: 50px;
    align-items: center;
}

.contacts {
    padding-top: 50px;
    padding-bottom: 120px;
    background-color: var(--color-green);
}

.contacts__content {
    width: 548px;
    height: 450px;
    border: 1px solid var(--color-white);
}

.contacts__social {
    color: #BFBABA;
}

.contacts__emal {
    color: var(--color-white);
}

.contacts__social img {
    margin-right: 10px;
}

/*rules*/
.rules__content {
    margin-top: 65px;
}

.rules__item {
    width: 517px;
    height: 174px;
    padding-left: 34px;
    border: 1px solid var(--color-grey);
}

.rules__item p {
    width: 387px;
}

/* *** свойства для services.html *** */

.page-header--services-banner {
    background-image: url(../images/banner-services.png);
}

.page-services h2 {
    margin-bottom: 100px;
}

.page-services__btn {
    width: 220px;
    margin-top: 40px;
}

/* rent-property */
.rent-property {
    padding-top: 50px;
    background-color: var(--color-green);
}

.property-text {
    width: 460px;
    height: 416px;
} 

.property-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-bottom: 145px;
}

.property-gallery__item--big {
    grid-column: span 1;
    grid-row: span 2;
}

/* rent-equipment */
.equipment-text {
    width: 476px;
}

/* ski-tours */
.ski-tours {
    padding-top: 50px;
    background-color: var(--color-green);
}

.tours-text {
    width: 524px;
}

.tours-gallery {
    display: grid;
    grid-template-columns: 276px 228px;   
    row-gap: 30px;
    column-gap: 24px;
    margin-bottom: 100px;
}

.tours-gallery__item--big {
    grid-column: span 1;
    grid-row: span 2;
}

/* services-instructors */
.instructors-text {
    width: 424px;
}

/* *** свойства для rent-equipment.html *** */
.page-header--rent-equipment-banner {
    background-image: url(../images/banner-rent-equipment.png);
}

.equipment-benefits {
    background-color: var(--color-green);
    padding-bottom: 120px;
}

.equipment-benefits h2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.equipment-price__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 100px;
}

.equipment-benefits__content p {
    width: 490px;
}

.equipment-price__text {
    width: 355px;
    height: 130px;
    margin-top: -4px;
    padding-left: 10px;
    border: 1px solid var(--color-grey);
}

.equipment-price__text hr {
    margin: 0;
    width: 120px;
    height: 1px;
}

.equipment-price__text p {
    color: #D6D6D6;
}